<!DOCTYPE html>
<html>
  <head>
    <title>mobile cart test page</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'/>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <script src='/socket.io/socket.io.js'></script>
    <script>
    $(document).ready(function(){
      // alert('sumin');
      function changeIcon(target,from,to){
        $(target).removeClass(from).addClass(to);
      };
      function changeCount(index,count){
        $('li[data-index='+index+'] .ui-li-count').html(count);
      };
      var socket = io.connect();
      socket.on('count',(data)=>{
        changeCount(data.index,data.count);
      });
      $('.product>a[data-icon]').click(()=>{

        if($(this).attr('toggle')!='off'){
          var index = $(this).attr('data-index');
          // 값을 못받아옴 개 빢침...
          socket.emit('cart', Number(index));
          changeIcon(this,'ui-icon-heart','ui-icon-check');
          $(this).attr('togle','off');
        }else{
          var index=$(this).attr('data-index');
          if(confirm('you want it ?')){
            socket.emit('buy',Number(index));
            $(this).parent().remove();
            $('#listview').listview('refresh');
          }else{
            socket.emit('return',Number(index));

            changeIcon(this,'ui-icon-check','ui-icon-heart');
          }
          $(this).attr('toggle','on');
        }
      });
    });
    </script>
  </head>
  <body>
    <div data-role='page'>
      <div data-role='header'>
        <h1>Store</h1>
      </div>
      <div data-role='content'>
        <ul id='listview' data-role='listview' data-inset='true'
        data-filter='true'/>
        <li data-role='list-divider'>
          products
        </li>
        <% products.forEach(function(item,number){ %>
          <li class='product' data-index='<%= item.index%>'>
            <a href='#'>
              <img src='chrome.png' alt = 'chrome' />
              <h3><%= item.name %></h3>
              <p>
                <%= item.price %>원
              </p>
              <span class='ui-li-count'><%= item.count %></span>
            </a>
            <a href='#' data-icon='heart' data-index='<%= item.index%>'></a>
          </li>
        <% }); %>
      </ul>
      </div>
    </div>
  </body>
</html>
